<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Cero Desperdicios</title>
        <style>
            .info-card h2 {
                color: #004d00;
            }
            .bold-text {
                font-weight: bold;
            }
        </style>

    </head>
    <body>
        <!-- 3 Sección principal para mostrar la información de la entidad conozcanos -->
        <section th:fragment="listadoConozcanos" id="conozcanos">
            <div class="container">
                <div class="row">
                    <h1 class="col-12 text-center">Ubícanos</h1>

                    <div class="col-md-3 info-card">
                        <h4>Nuestra misión</h4>
                        <p>El desperdicio de Alimentos, estamos comprometidos con la lucha contra uno de los mayores desafíos que enfrenta nuestro mundo: el desperdicio de alimentos.</p>
                    </div>
                    <div class="col-md-3 info-card">
                        <h4>Concienciación y Acción</h4>
                        <p>Nos duele saber que, mientras tantas personas padecen hambre crónica, toneladas de alimentos perfectamente aptos para el consumo son descartados diariamente. Este desperdicio no solo priva a las personas de alimentos esenciales para su supervivencia, sino que también contribuye a un aumento artificial en el valor de los productos, haciendo que sean menos accesibles para las familias de bajos recursos.</p>
                    </div>
                    <div class="col-md-3 info-card">
                        <h4>Acciones Prácticas para Todos</h4>
                        <p>En los próximos pasos, exploraremos soluciones prácticas y accesibles que todos podemos implementar en nuestras vidas diarias para ayudar a poner fin al desperdicio de alimentos.</p>
                    </div>
                    <div class="col-md-3 info-card">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125740.08576881798!2d-84.02685352569665!3d9.985627863346934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e54469c695db%3A0xb3e73c81bf090e03!2sSoda%20Donde%20Ma%20CR!5e0!3m2!1ses-419!2scr!4v1717550685857!5m2!1ses-419!2scr" width="300" height="150" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <p><strong>Encuéntranos en avenida 20, a la izquierda de calle nueva</strong></p>
                    </div>
                </div>
            </div>
        </section>


    </body>
</html>
